/********公共样式************/
body{
  background: #fff;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
div,img,p{
  cursor:pointer;
}
div,p,a,span,li,dt,dd{
  word-wrap:break-word;
}
img{
  border: none;
}
.pl_img{
  overflow: hidden !important;
}
.pl_likenum.active{
  color: #2ea2fc !important;
}
.back_index{
  position: fixed;
  bottom: 10%;
  right: 2%;
  width: 14.7vw;
}
.sign_success_wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
}

.sign_success_wrap .layer_cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

.sign_success_wrap .layer_main {
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translate(-50%, 0);
}

.sign_success_wrap .layer_main .layer_main_cover {
  box-sizing: border-box;
  position: relative;
  z-index: 99;
}

.sign_success_wrap .layer_main .layer_main_cover .layer_main_cover_bgpic {
  width: 70.7vw;
}

.sign_success_wrap .layer_main .layer_title {
  font-size: 5.1vw;
  text-align: center;
}

.sign_success_wrap .layer_main .layer_content {
  width: 100%;
  font-size: 5.3vw;
  line-height: 6.4vw;
  margin-top: 47.3vw;
  position: absolute;
  color: #000;
  top: 0;
  left: 0;
  text-align: center;
}

.sign_success_wrap .layer_main .layer_content .getjf {
  font-size: 3.7vw;
  margin-top: 2vw;
}

.sign_success_wrap .layer_main .layer_content .total_day .day_num {
  color: #fecb4f;
}

.sign_success_wrap .layer_main .layer_content .sign_tip {
  font-size: 3.2vw;
  color: #999;
}

.sign_success_wrap .layer_main .layer_content .sign_day_list {
  margin: 4vw auto;
}
.sign_success_wrap .layer_main .layer_content .sign_day_list > div {
  display: inline-block;
  color: #000;
  font-size: 4vw;
  background: #f0f0f0;
  border-radius: 1.3vw;
  padding: 0 2.1vw;
  margin-right: 1.6vw;
}

.sign_success_wrap .layer_main .layer_content .sign_day_list > div.cur_day {
  border: 0.3vw solid #2ea2fc;
}

.sign_success_wrap .layer_main .layer_content .sign_day_list > div.has_day,
.sign_success_wrap .layer_main .layer_content .sign_day_list > div.out_day {
  background: #d8d8d8;
  position: relative;
}

.sign_success_wrap .layer_main .layer_content .sign_day_list > div:last-of-type {
  margin-right: 0;
}

.sign_success_wrap .layer_main .layer_content .sign_day_list > div .sign_gold {
  width: 4.8vw;
  margin-bottom: 1.1vw;
}

.sign_success_wrap .layer_main .layer_btn_group {
  margin-top: 7.3vw;
}

.sign_success_wrap .layer_main .layer_btn_group button {
  font-size: 4;
  background: #2ea2fc;
  color: #fff;
  width: 75%;
  border-radius: 6.7vw;
  padding: 2.7vw 0;
}
.sign_success_wrap .layer_main .layer_btn_group button.active{
  color: #cbcaca;
  background:#e9ebec;
}
.sign_success_wrap .layer_close {
  width: 8vw;
  margin: 5.3vw auto 0;
  display: block;
}


.morebook_wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.morebook_wrap .layer_cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

.morebook_wrap .layer_main {
  /* position: absolute;
  left: 50%;
  bottom: 8%; */
  width: 100%;
  /* transform: translate(-50%, 0); */
}

.morebook_wrap .layer_main .layer_main_cover {
  background: #fff;
  padding: 50vw 2vw 0;
  border-radius: 2vw;
  box-sizing: border-box;
  width: 100%;
}

.morebook_wrap .layer_main .layer_main_cover .layer_main_cover_bgpic {
  width: 70.7vw;
}

.morebook_wrap .layer_main .layer_title {
  font-size: 5.1vw;
  text-align: center;
}

.morebook_wrap .layer_main .layer_content {
  width: 100%;
  font-size: 6.7vw;
  line-height: 6.4vw;
  color: #000;
  text-align: center;
}

.morebook_wrap .layer_main .layer_content .getjf {
  font-size: 4.3vw;
  margin-top: 12vw;
}

.morebook_wrap .layer_main .layer_content .total_day .day_num {
  color: #fecb4f;
}

.morebook_wrap .layer_main .layer_content .sign_tip {
  font-size: 3.2vw;
  color: #999;
}

.morebook_wrap .layer_main .layer_content .sign_day_list {
  margin: 4vw auto;
}

.morebook_wrap .layer_main .layer_content .sign_day_list > div {
  display: inline-block;
  color: #000;
  font-size: 4vw;
  background: #f0f0f0;
  border-radius: 1.3vw;
  padding: 0 2.1vw;
  margin-right: 1.6vw;
}

.morebook_wrap .layer_main .layer_content .sign_day_list > div.cur_day {
  border: 0.3vw solid #2ea2fc;
}

.morebook_wrap .layer_main .layer_content .sign_day_list > div.has_day,
.morebook_wrap .layer_main .layer_content .sign_day_list > div.out_day {
  background: #d8d8d8;
  position: relative;
}

.morebook_wrap .layer_main .layer_content .sign_day_list > div:last-of-type {
  margin-right: 0;
}

.morebook_wrap .layer_main .layer_content .sign_day_list > div .sign_gold {
  width: 4.8vw;
  margin-bottom: 1.1vw;
}

.morebook_wrap .layer_main .layer_btn_group {
  margin-top: 12vw;
}

.morebook_wrap .layer_main .layer_btn_group button {
  font-size: 4;
  background: #2ea2fc;
  color: #fff;
  width: 75%;
  border-radius: 6.7vw;
  padding: 2.7vw 0;
}
.morebook_wrap .layer_main .layer_btn_group button.active{
  color: #cbcaca;
  background:#e9ebec;
}
.morebook_wrap .layer_close {
  width: 8vw;
  margin: 5.3vw auto 0;
  display: block;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.layer .layer_cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

.layer .layer_main {
  position: absolute;
  left: 50%;
  bottom: 8%;
  width: 86%;
  transform: translate(-50%, 0);
}

.layer .layer_main .layer_main_cover {
  box-sizing: border-box;
  position: relative;
  z-index: 99;
  background: #fff;
  /* width: 70%; */
  border-radius: 3vw;
}

.layer .layer_main .layer_main_cover .layer_main_cover_bgpic {
  width: 88.3vw;
}

.layer .layer_main .layer_title {
  font-size: 5.1vw;
  text-align: center;
}

.layer .layer_main .layer_content {
  width: 100%;
  font-size: 4.3vw;
  /* line-height: 6.4vw; */
  /* margin-top: 5.3vw; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  color: #424242;
  text-align: center;
}

.layer .layer_main .layer_content .total_day {
  font-size: 3.5vw;
  color: #999;
  text-align: center;
  padding: 5.7vw 0;
}

.layer .layer_main .layer_content .total_day .day_num {
  color: #fecb4f;
}

.layer .layer_main .layer_content .sign_tip {
  font-size: 7vw;
  color: #424242;
  /* margin-top: 11.2vw; */
  padding: 6.3vw 0;
}

.layer .layer_main .layer_content .sign_day_list {
  /* margin: 4vw auto; */
}

.layer .layer_main .layer_content .sign_day_list > div {
  display: inline-block;
  color: #000;
  font-size: 4vw;
  background: #e8ecf0;
  border-radius: 1.3vw;
  width: 16.7vw;
  padding: 6vw 0 1.3vw;
  margin-right: 1.6vw;
  position: relative;
  margin-bottom: 1.8vw;
}
.layer .layer_main .layer_content .sign_day_list > div .day_num{
  position: absolute;
  top: 0;
  left: 1vw;
  color: #babec1;
  font-size: 4.8vw;
  font-style: italic;
}

.layer .layer_main .layer_content .sign_day_list > div.cur_day {
  border: 0.3vw solid #2ea2fc;
}

.layer .layer_main .layer_content .sign_day_list > div.has_day,
.layer .layer_main .layer_content .sign_day_list > div.out_day {
  background: #d8d8d8;
  position: relative;
}

.layer .layer_main .layer_content .sign_day_list > div:last-of-type {
  margin-right: 0;
}

.layer .layer_main .layer_content .sign_day_list > div .sign_gold {
  width: 10.8vw;
  /* margin-bottom: 1.1vw; */
  margin: 0 auto;
}

.sign_success, .out_day_txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.out_day_txt {
  color: #2ea2fc;
  font-size: 3.2vw;
  width: 100%;
}

.sign_success {
  width: 6.4vw;
}

.layer .layer_main .layer_content .total_day_list {
  margin: 2.9vw auto 4vw;
}

.layer .layer_main .layer_content .total_day_list > div {
  display: inline-block;
  color: #9a9a9a;
  font-size: 4.3vw;
  border-radius: 1.3vw;
  /* padding: 0 8px; */
  margin-right: 4.3vw;
  position: relative;
}

.layer .layer_main .layer_content .total_day_list > div .total_day_list_box {
  width: 13.3vw;
  height: 13.3vw;
  border: 0.3vw solid #9a9a9a;
  border-radius: 40vw;
  font-size: 2.1vw;
  padding-top: 5.9vw;
  box-sizing: border-box;
}

.layer .layer_main .layer_content .total_day_list > div .txt {
  font-size: 3.5vw;
  padding-top: 2.9vw;
}

.layer .layer_main .layer_content .total_day_list > div:last-of-type {
  margin-right: 0;
}

.layer .layer_main .layer_content .total_day_list > div .sign_quan {
  width: 4.8vw;
  position: absolute;
  top: 1.9vw;
  left: 50%;
  margin-left: -2.4vw;
}

.layer .layer_main .layer_btn_group {margin-top: 4.7vw;}

.layer .layer_main .layer_btn_group .button1 {
  font-size: 4.4vw;
  background: #2ea2fc;
  color: #fff;
  width: 75%;
  border-radius: 6.7vw;
  padding: 2.7vw 0;
}

.layer .layer_main .layer_btn_group .button2 {
  font-size: 4;
  background: #bcc0c3;
  color: #fff;
  width: 75%;
  border-radius: 6.7vw;
  padding: 2.7vw 0;
}
.layer .layer_main .layer_btn_group button.active{
  color: #cbcaca;
  background:#e9ebec;
}
.layer .layer_close {
  width: 8vw;
  margin: 5.3vw auto 0;
  display: block;
}

.mask-wrap {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.mask-wrap .mask-con {
  background: #fff;
  width: 152.8vw;
  margin: 0 auto;
  padding: 13.3vw 20.3vw;
  box-sizing: border-box;
  margin-top: 80vw;
  border-radius: 2.7vw;
}

.mask-wrap .mask-title {
  font-size: 9.6vw;
  color: #000;
  margin-bottom: 13.3vw;
  text-align: center;
}

.mask-wrap .mask-txt {
  font-size: 7.5vw;
  color: #989898;
  line-height: 15.5vw;
}

.mask-wrap .icon-sq {
  width: 28vw;
  margin: 10.7vw auto;
}

.mask-wrap .icon-sq img {
  width: 100%;
}

.main_mlwrap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  color: #000;
  display: none;
}

.main_mlwrap .cover {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.main_mlwrap .ml_list {
  background: #fff;
  z-index: 11;
  width: 80%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
}


.main_mlwrap .ml_list div {
  padding: 4.5vw 0;
  border-bottom: 0.1vw solid #eaeaea;
  margin: 0 4vw;
  font-size: 4.3vw;
}

.main_mlwrap .ml_list div.active {
  color: #2ea2fc;
}
.main_mlwrap .ml_list .icon_lock{
  float: right;
  width: 3.1vw;
  margin-right: 1.9vw;
  margin-top: 1vw;
}

/* main  */

.main {
  background: #fff;
  width: 100%;
  height: 100%;
  padding-bottom: 13.3vw;
}

.main_book_intro {
  width: 100%;
  color: #0d141e;
  font-size: 4.3vw;
  padding-top: 9.3vw;
}

.main_book_intro .book_cover {
  width: 45.2vw;
  margin: 0 auto 5.9vw;
}

.main_book_intro .book_cover img {
  width: 100%;
  box-shadow: 0 0 0.8vw #000;
}

.main_book_intro .book_name {
  color: #0d141e;
  font-size: 6.1vw;
  text-align: center;
}

.main_book_intro .book_author {
  margin: 3.7vw 0 5.3vw 0;
  text-align: center;
}

.main_book_intro .book_intro {
  width: 94.7vw;
  margin: 0 auto;
}

.main_book_intro .book_intro .icon_unfold {
  width: 6.4vw;
  height: 2.7vw;
  margin: 2.7vw auto 0;
}

.main_book_intro .book_intro .icon_unfold img {
  width: 100%;
  height: 100%;
}
.main_book_intro .book_intro .icon_unfold.active{
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); 	/* IE 9 */
  -moz-transform:rotate(180deg); 	/* Firefox */
  -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  -o-transform:rotate(180deg); 	/* Opera */
}
.main_piece {
  width: 100%;
  background: #fff;
  margin-top: 6.7vw;
  padding-bottom: 2.7vw;
}

.main_piece > div {
  width: 50%;
  height: 14.7vw;
  text-align: center;
  box-sizing: border-box;
}

.main_piece > div .txt {
  font-size: 3.7vw;
  color: #38414c;
}

.main_piece > div:nth-child(2) .txt {
  color: #fc344e;
}

.main_piece > div .icon_ml {
  margin: 3.7vw auto 1.6vw;
  width: 4.3vw;
}

.main_piece > div .icon_sign {
  margin: 4vw auto 1.3vw;
  width: 4.3vw;
}

.main_nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}

.main_nav .nav_group {
  width: 100%;
  background: #fff;
}

.main_nav .nav_group > div {
  width: 30%;
  height: 14.7vw;
  text-align: center;
  border-top: 0.3vw solid #efefef;
  box-sizing: border-box;
}

.main_nav .nav_group > div:nth-child(2) {
  width: 40%;
  background: #2ea2fc;
  line-height: 14.7vw;
}

.main_nav .nav_group > div .txt {
  font-size: 3.2vw;
  color: #2a313c;
  margin-top: 1.3vw;
}

.main_nav .nav_group > div:nth-child(2) .txt {
  font-size: 4.8vw;
  color: #fff;
  margin-top: 0;
}
.main_nav .nav_group > div:nth-child(2).jxReading{
  line-height: 6vw;
  padding-top: 2vw;
}
.main_nav .nav_group > div:nth-child(2).jxReading .txt{
  font-size:3.7vw;
}
.main_nav .nav_group > div:nth-child(2).jxReading p{
  color: #fff;
  font-size:2.7vw;
}

.main_nav .nav_group > div .icon_myshuq {
  margin: 2.7vw auto 0;
  width: 4.8vw;
}

.main_nav .nav_group > div .icon_myinfo {
  margin: 2.7vw auto 0;
  width: 3.7vw;
}

/********阅读小说************/
.book_con {
  width: 100%;
  height: 100%;
  color: #000;
  box-sizing: border-box;
  font-size: 5.1vw;
  padding: 0 5.3vw;
}
.book_con .book_tit {
  font-size: 6.7vw;
  padding-top: 6.7vw;
}
.book_con > p{
  font-size: 18px;
  line-height: 10vw;
}
.book_con .footer_chapter{
  width: 100%;
}
.book_con .footer_chapter > div{
  width: 30%;
  font-size: 4.3vw;
  background: #fff;
  border-radius: 1.3vw;
  height: 9.6vw;
  line-height: 9.6vw;
  text-align: center;
  margin: 5% 5% 5% 0;
}
.book_con .footer_chapter > div:last-of-type{
  margin: 5% 0 5% 0;
}
.set_wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.set_wrap .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.set_wrap .set_con {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: #fff;
  border-top: 0.3vw solid #efefef;
}

.set_wrap .set_chapter {
  width: 100%;
  font-size: 4.3vw;
}

.set_wrap .set_chapter > div {
  width: 30%;
  height: 20vw;
  line-height: 20vw;
}

.set_wrap .set_chapter > div:nth-child(2) {
  width: 40%;
  font-size: 3.5vw;
  color: #7f7f7f;
}

.set_wrap .nav_group {
  width: 100%;
}

.set_wrap .nav_group > div {
  width: 30%;
  box-sizing: border-box;
}

.set_wrap .nav_group > div:nth-child(2) {
  width: 40%;
  font-size: 2.7vw;
}

.set_wrap .nav_group > div:nth-child(2) .font_size {
  display: inline-block;
}

.set_wrap .nav_group > div:nth-child(2) .font_size > div img{
  width: 10vw;
  margin: 0 3vw;
}

/* .set_wrap .nav_group > div:nth-child(2) .font_size > div:nth-child(1) {
  padding: 0.5vw 2.1vw;
} */

.set_wrap .nav_group > div .txt {
  font-size: 2.7vw;
  color: #2a313c;
  padding-bottom: 1.3vw;
  margin-top: 1.3vw;
}

.set_wrap .nav_group > div .icon_ml {
  margin: 0 auto 0;
  width: 4.3vw;
}

.set_wrap .nav_group > div .icon_night {
  margin: 0 auto 0;
  width: 4.7vw;
}
.set_wrap .nav_group > div.day{
  display: none;
}
/* 书圈 */
.main_bookquan{
  width: 100%;
}
.main_bookquan .bookq_tabs{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #fff;
  border-bottom: .1vw solid #eeeff1;
}
.main_bookquan .bookq_tabs a{
  color: #000;
  font-size: 4.3vw;
  float: left;
  width: 50%;
  text-align: center;
}
.main_bookquan .bookq_tabs a p{
  padding: 0 3vw;
  height: 13.3vw;
  line-height: 13.3vw;
  display: inline-block;
}
.main_bookquan .bookq_tabs a.active{
  color: #2ea2fc;
}
.main_bookquan .bookq_tabs a.active p{
  border-bottom: 0.4vw solid #2ea2fc;
}
.main_bookquan .bookq_con{
  width: 100%;
  margin-top: 13.3vw;
}

.pl_wrap{
  width: 100%;
}
.pl_wrap > div{
  width: 100%;
  border-bottom: .1vw solid #eeeff1;
}
.pl_wrap .pl_img{
  width: 10.1vw;
  height: 10.1vw;
  background: pink;
  border-radius: 100%;
  margin: 4vw;
  overflow: hidden;
}
.pl_wrap .pl_img img{
  width: 100%;
  height: 100%;
}
.pl_wrap .pl_right_box{
  margin-right: 4vw;
  overflow: auto;
}
.pl_wrap .pl_name{
  font-size:4.3vw;
  color: #3c4450;
  margin-top: 4.3vw;
  margin-bottom: 4.3vw;
}
.pl_wrap .pl_con{
  color: #000;
  font-size:4.3vw;
}
.pl_wrap .pl_fun{
  margin-top: 4.3vw;
  margin-bottom: 4.3vw;
}
.pl_wrap .pl_fun >div{
  display: inline-block;
  color: #6d7580;
  font-size: 3.5vw;
}
.pl_wrap .pl_fun >div.pl_time{

}
.pl_wrap .pl_fun >div.pl_hf{
  margin:0 6.7vw 0 0;
}
.pl_wrap .pl_fun >div > img{
  width: 3.7vw;
  display: inline-block;
  vertical-align: middle;
  margin-right: .5vw;
}
.pl_wrap .pl_fun >div > p{
  display: inline-block;
  vertical-align: middle;
}
.pl_wrap .pl_fun >div.pl_likenum > p{
  padding-top: .8vw;
}
.pl_wrap .pl_fun >div.pl_likenum.active{
  color: #2ea2fc;

}


.topic_wrap{
  width: 100%;
}
.topic_wrap > div{
  width: 100%;
  border-bottom: .1vw solid #eeeff1;
}
.topic_wrap .pl_img{
  width: 10.1vw;
  height: 10.1vw;
  background: pink;
  border-radius: 100%;
  margin: 4vw;
}
.topic_wrap .pl_img img{
  width: 100%;
  height: 100%;
}
.topic_wrap .pl_right_box{
  margin-right: 4vw;
  overflow: auto;
}
.topic_wrap .pl_right_box .cool{
  background: #f0403d;
  font-size: 3.2vw;
  color: #fff;
  border-radius: 1.2vw;
  margin-top: 4.3vw;
  display: inline-block;
  margin-bottom: 4.3vw;
  padding: .6vw 1vw;
}
.topic_wrap .pl_right_box .zuozhe{

}
.topic_wrap .pl_right_box .hot{

}
.topic_wrap .pl_right_box .up{
  background: #2ea2fc;
}
.topic_wrap .pl_name{
  font-size:4.3vw;
  color: #3c4450;
  margin-top: 4.3vw;
  display: inline-block;
  margin-bottom: 4.3vw;
}
.topic_wrap .pl_time{
  font-size:3.5vw;
  color: #6d7580;
  margin-top: 5.3vw;
  margin-bottom: 4.3vw;
  float: right;
}
.topic_wrap .pl_con{
  color: #000;
  font-size:4.3vw;
}
.topic_wrap .pl_fun{
  margin-top: 4.3vw;
  margin-bottom: 4.3vw;
}
.topic_wrap .pl_fun >div{
  display: inline-block;
  color: #6d7580;
  font-size: 3.5vw;
}
.topic_wrap .pl_fun >div > img{
  width: 3.7vw;
  display: inline-block;
  vertical-align: middle;
  margin-right: .5vw;
}
.topic_wrap .pl_fun >div.pl_hf{
  margin: 0 6.7vw 0 0;
}
.topic_wrap .pl_fun >div > p{
  display: inline-block;
  vertical-align: middle;
}
.topic_wrap .pl_fun >div.pl_likenum > p{
  padding-top: .8vw;
}
.topic_wrap .pl_fun >div.pl_likenum.active{
  color: #2ea2fc;

}

.fixed_hf{
  position: fixed;
  bottom: 8%;
  right: 4vw;
  border-radius: 100px;
  background: #2ea2fc;
  box-shadow: 0 0 3px #2ea2fc;
  color: #fff;
  padding: 2vw 4vw;
}
.fixed_hf img{
  width: 4.5vw;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.3vw;
}
.fixed_hf p{
  display: inline-block;
  vertical-align: middle;
}
.fixed_fb_wrap{
  display: none;
}
.bookq_con .topic_wrap{
  display: none;
}

.plmsg_wrap{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  display: none;
}
.plmsg_wrap .cover {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.plmsg_wrap .plmsg_con{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  padding: 2.4vw 4vw 3vw 4vw;
}
.plmsg_wrap .plmsg_con textarea{
  width: 100%;
  height: 17.3vw;
  border-radius: 6px;
  background: #f7f7f7;
  display: block;
  font-size: 4.5vw;
  color: #868686;
  padding-top: 2vw;
  padding-left: 1.3vw;
}
.plmsg_wrap .plmsg_con .plmsg_btn{
  color: #fff;
  background: #2ea2fc;
  border-radius: 6px;
  font-size: 4.3vw;
  padding: 1.3vw 2.9vw;
  position: absolute;
  right: 6vw;
  bottom: 5vw;
}


.fb_article_wrap{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  display: none;
}
.fb_article_wrap .cover {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.fb_article_wrap .plmsg_con{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  border-radius: 2.8vw 2.8vw 0 0;
  background: #f7f7f7;
  /* padding: 2.4vw 4vw 3vw 4vw; */
}
.fb_article_wrap .plmsg_con textarea{
  width: 100%;
  height: 32vw;
  display: block;
  font-size: 4.5vw;
  color: #868686;
  padding-top: 2vw;
  padding-left: 4vw;
  border-top: .2vw solid #e7e7e7;
}
.fb_article_wrap .plmsg_con input{
  width: 100%;
  height: 10.7vw;
  line-height: 10.7vw;
  padding-left: 4vw;
  font-size: 4.3vw;
}
.fb_article_wrap .plmsg_con .plmsg_btn{
  color: #fff;
  background: #2ea2fc;
  border-radius: 80px;
  width: 70%;
  display: block;
  text-align: center;
  font-size: 4.3vw;
  padding: 2vw 0;
  box-shadow: 0 0 3px #2ea2fc;
  margin: 7.3vw auto 3vw;
}
.fb_article_title{
  text-align: center;
  background: #fff;
  color: #000000;
  font-size: 5.3vw;
  border-bottom:.1vw solid #ededed;
  height: 12.7vw;
  line-height: 12.7vw;
  width: 100%;
  border-radius: 2.8vw 2.8vw 0 0;
}
.fb_article_title .close_lookpl{
  position: absolute;
  top: 1vw;
  left: 0;
  padding: 4vw;
}
.fb_article_title .close_lookpl img{
  width: 4vw;
}

/* 查看评价 */
.lookpl_wrap{
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 20rpx;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: auto;
  display: none;
  margin-top: 12.7vw;
}
.lookpl_wrap .lookpl_list{
  width: 100%;
  padding-bottom: 14vw;
}
.lookpl_wrap .lookpl_list > div{
  width: 100%;
}
.lookpl_wrap .lookpl_list .pl_img{
  width: 10.1vw;
  height: 10.1vw;
  background: pink;
  border-radius: 100%;
  margin: 4vw;
}
.lookpl_wrap .lookpl_list .pl_img img{
  width: 100%;
  height: 100%;
}
.lookpl_wrap .lookpl_list .pl_right_box{
  margin-right: 4vw;
  overflow: auto;
}
.lookpl_wrap .lookpl_list .pl_name{
  font-size:4.3vw;
  color: #3c4450;
  margin-top: 4.3vw;
  margin-bottom: 4.3vw;
}
.lookpl_wrap .lookpl_list .pl_con{
  color: #000;
  font-size:4.3vw;
}
.lookpl_wrap .lookpl_list .pl_fun{
  margin-top: 4.3vw;
  margin-bottom: 4.3vw;
}
.lookpl_wrap .lookpl_list .pl_fun >div{
  display: inline-block;
  color: #6d7580;
  font-size: 3.5vw;
}
.lookpl_wrap .lookpl_list .pl_fun >div.pl_hf{
  margin:0 6.7vw 0 0;
}
.lookpl_wrap .lookpl_list .pl_fun >div > img{
  width: 3.7vw;
  display: inline-block;
  vertical-align: middle;
  margin-right: .5vw;
}
.lookpl_wrap .lookpl_list .pl_fun >div > p{
  display: inline-block;
  vertical-align: middle;
}
.lookpl_wrap .lookpl_list .pl_fun >div.pl_likenum > p{
  padding-top: .8vw;
}
.lookpl_wrap .lookpl_list .pl_fun >div.pl_likenum.active{
  color: #2ea2fc;

}
.lookpl_num{
  text-align: center;
  color: #000000;
  font-size: 5.3vw;
  border-bottom:.1vw solid #ededed;
  height: 12.7vw;
  line-height: 12.7vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  background: #fff;
  z-index: 3;
}
.lookpl_num .close_lookpl{
  position: absolute;
  top: 1vw;
  left: 0;
  padding: 4vw;
}
.lookpl_num .close_lookpl img{
  width: 4vw;
}
.lookpl_wrap .lookpl_bottom{
  border-top:1.3vw solid #f4f5f7;
  margin-bottom: 14vw;
}
.lookpl_wrap .lookpl_bottom .all_pl{
  padding: 4vw 0 0 4vw;
  font-size: 4.3vw;
  color: #000;
}
.lookpl_wrap .lookpl_bottom .lookpl_list .pl_right_box{
  border-bottom: .1vw solid #ededed;
}
.lookpl_wrap .lookpl_bottom .lookpl_list >div:last-of-type .pl_right_box{
  border-bottom: none;
}
.lookpl_plbtn{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding:0 4vw;
  height: 12.3vw;
  line-height: 12.3vw;
  background: #fff;
  z-index: 3;
  border-top: .3vw solid #ededed;
  display: none;
}
.lookpl_plbtn img{
  width: 3.7vw;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2vw;
}
.lookpl_plbtn p{
  display: inline-block;
  vertical-align: middle;
  font-size: 4.3vw;
  color: #000;
}

/* 查看文章 */
.lookarticle_wrap{
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 20rpx;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: auto;
  margin-top: 12.7vw;
  display: none;
}
.lookarticle_wrap .lookpl_list{
  width: 100%;
}
.lookarticle_wrap .lookpl_list > div{
  width: 100%;
}
.lookarticle_wrap .lookpl_list .lookarticle_title{
  font-size: 5.3vw;
  color: #000000;
  padding: 0vw 6vw;
}
.lookarticle_wrap .lookpl_list .pl_img{
  width: 10.1vw;
  height: 10.1vw;
  background: pink;
  border-radius: 100%;
  margin: 4vw;
}
.lookarticle_wrap .lookpl_list .pl_img img{
  width: 100%;
  height: 100%;
}
.lookarticle_wrap .lookpl_top .lookpl_list .pl_img{
  margin: 2vw 4vw 0 0;
}
.lookarticle_wrap .lookpl_top .lookpl_list .pl_right_box{
  /* border-bottom:.2vw solid #ededed; */
  margin-left: 4vw;
}
.lookarticle_wrap .lookpl_list .pl_right_box{
  margin-right: 4vw;
  overflow: auto;
}
.lookarticle_wrap .lookpl_list .pl_name{
  font-size:4.3vw;
  color: #3c4450;
  margin-top: 4.3vw;
  margin-bottom: 4.3vw;
}
.lookarticle_wrap .lookpl_top .lookpl_list .pl_name{
  display: inline-block;
}
.lookarticle_wrap .lookpl_top .lookpl_list .pl_time{
  font-size:3.5vw;
  color: #6d7580;
  margin-top: 5.3vw;
  margin-bottom: 4.3vw;
  float: right;
}
.lookarticle_wrap .lookpl_top .lookpl_list  .pl_likenum{
  margin-bottom: 3vw;
  margin-right: 4.3vw;
}
.lookarticle_wrap .lookpl_top .lookpl_list .pl_likenum > p{
  display: inline-block;
  color: #6d7580;
  font-size: 3.5vw;
  padding-top: .8vw;
  display: inline-block;
  vertical-align: middle;
}
.lookarticle_wrap .lookpl_top .lookpl_list .pl_likenum > img{
  width: 3.7vw;
  display: inline-block;
  vertical-align: middle;
  margin-right: .5vw;
}
.lookarticle_wrap .lookpl_top .lookpl_list .pl_likenum.active  > p{
  color: #2ea2fc;

}

.lookarticle_wrap .lookpl_top .lookpl_list .pl_con{
  margin-bottom: 4.3vw;
  padding: 2vw 8vw 0;
}
.lookarticle_wrap .lookpl_list .pl_con{
  color: #666;
  font-size:4.3vw;
}
.lookarticle_wrap .lookpl_list .pl_fun{
  margin-top: 4.3vw;
  margin-bottom: 4.3vw;
}
.lookarticle_wrap .lookpl_list .pl_fun >div{
  display: inline-block;
  color: #6d7580;
  font-size: 3.5vw;
}
.lookarticle_wrap .lookpl_list .pl_fun >div.pl_hf{
  margin:0 6.7vw 0 0;
}
.lookarticle_wrap .lookpl_list .pl_fun >div > img{
  width: 3.7vw;
  display: inline-block;
  vertical-align: middle;
  margin-right: .5vw;
}
.lookarticle_wrap .lookpl_list .pl_fun >div > p{
  display: inline-block;
  vertical-align: middle;
}
.lookarticle_wrap .lookpl_list .pl_fun >div.pl_likenum > p{
  padding-top: .8vw;
}
.lookarticle_wrap .lookpl_list .pl_fun >div.pl_likenum.active{
  color: #2ea2fc;

}
.lookarticle_num{
  text-align: center;
  color: #000000;
  font-size: 5.3vw;
  border-bottom:.1vw solid #ededed;
  height: 12.7vw;
  line-height: 12.7vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 3;
  display: none;
}
.lookarticle_num .close_lookpl{
  position: absolute;
  top: 1vw;
  left: 0;
  padding: 4vw;
}
.lookarticle_num .close_lookpl img{
  width: 4vw;
}
.lookarticle_wrap .lookpl_bottom{
  border-top:1.3vw solid #f4f5f7;
  /* margin-bottom: 14vw; */
  padding-bottom: 14vw;
}
.lookarticle_wrap .lookpl_bottom .all_pl{
  padding: 4vw 0 0 4vw;
  font-size: 4.3vw;
  color: #000;
}
.lookarticle_wrap .lookpl_bottom .lookpl_list .pl_right_box{
  border-bottom: .1vw solid #ededed;
}
.lookarticle_wrap .lookpl_bottom .lookpl_list >div:last-of-type .pl_right_box{
  border-bottom: none;
}
.lookarticle_plbtn{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding:0 4vw;
  height: 12.3vw;
  line-height: 12.3vw;
  background: #fff;
  z-index: 3;
  display: none;
  border-top: .3vw solid #ededed;
}
.lookarticle_plbtn img{
  width: 3.7vw;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2vw;
}
.lookarticle_plbtn p{
  display: inline-block;
  vertical-align: middle;
  font-size: 4.3vw;
  color: #000;
}
/* 个人中心 */
.person_topbar{
  position: relative;
}
.person_topbar .cover{
  width: 100%;
}
.person_topbar .topbar{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.person_topbar .topbar .person_pic{
  width: 13.3vw;
  height: 13.3vw;
  border-radius: 200px;
  background: pink;
  margin: 0 auto;
  overflow: hidden;
}
.person_topbar .topbar .person_pic img{
  width: 100%;
  height: 100%;
}
.person_topbar .topbar .person_name{
  font-size: 4.3vw;
  color: #fff;
  padding-top: 3vw;
}
.topbar_piece{
  width: 100%;
  background: #fff;
  color: #a3a3a3;
}
.topbar_piece > div{
  width: 49.9%;
  text-align: center;
  float: left;
  margin: 1.3vw 0;
}
.topbar_piece > div:nth-child(1){

  border-right: .2vw solid #f4f5f7;
}
.topbar_piece > div .num{
  color: #2ea2fc;
  font-size: 4.8vw;
}
.person_fun_list{
  width: 100%;
  /* margin-top: 2.7vw; */
  background: #fff;
}
.person_fun_list > div{
  width: 100%;
  height: 14vw;
  line-height: 14vw;
  border-bottom: .2vw solid #f4f5f7;
  padding:0 4vw;

}
.person_fun_list > div:last-of-type{
  border-bottom: 0;
}
.person_fun_list > div .icon{
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.2vw;
}
.person_fun_list > div .icon_integral{
  width: 5.1vw;
}
.person_fun_list > div .icon_message{
  width: 5.1vw;
}
.person_fun_list > div .icon_dynamic{
  width: 5.1vw;
}
.person_fun_list > div .icon_wx{
  width: 5.2vw;
}
.person_fun_list > div .icon_share{
  width: 5.1vw;
}
.person_fun_list > div .fun_txt{
  display: inline-block;
  vertical-align: middle;
}
.person_fun_list > div .fun_txt.jfnum{
  color: #2ea2fc;
  float: right;
}
.share_layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}
.share_layer .cover{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  background: rgba(0, 0, 0, 0.4);
}
.share_layer .share_con img{
  width: 58.4vw;
  position: fixed;
  right: 4.3vw;
  top: 0;
  z-index: 12;
}

.posters {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

.posters .cover {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  background: rgba(0, 0, 0, 0.4);
}
.posters .posters_con{
  font-size: 4.3vw;
  color: #fff;
  text-align: center;
  position: absolute;
  left:0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 12;
  width: 79.5vw;
}
.posters .posters_con .posters_cool{
  width: 79.5vw;
  margin: 15% auto 0;
}
.posters .posters_con .tips_txt{
  margin: 4.2vw 0;
}
.fixed_share{
  position: fixed;
  right: 0;
  top: 0;
  padding: 4.3vw;
}
.fixed_share img{
  width: 4vw;
}
.topic_wrap.message_wrap .pl_fun >div.pl_hf{
  position: relative;
  width: 100%;
  margin: 0;
  padding-left: 5.3vw;
}
.topic_wrap.message_wrap .pl_fun >div.pl_hf img{
  position: absolute;
  top: 1vw;
  left: 0;
}
/* 积分商城 */
.main_shop{
  width: 100%;
}
.main_shop .shop_top{
  color: #000;
  text-align: center;
  background: #fff;
  padding-top: 4vw;
}
.main_shop .shop_top .jf_num{
  font-size: 14.7vw;
}
.main_shop .shop_top  .ky_jf{
  color: #777777;
  font-size: 4vw;
}
.main_shop .shop_top .shop_top_func {
  text-align: center;
}
.main_shop .shop_top .shop_top_func a{
  display: inline-block;
  padding: 4vw 0;
}
.main_shop .shop_top .shop_top_func a img{
  width: 5.1vw;
  display: inline-block;
  vertical-align: middle;
}
.main_shop .shop_top .shop_top_func a:nth-child(2) img{
  width: 4.4vw;
}
.main_shop .shop_top .shop_top_func a:nth-child(2){
  padding: 0 10.7vw;
}
.main_shop .shop_top .shop_top_func a div{
  display: inline-block;
  vertical-align: middle;
}
.main_shop .pd_wrap{
  width: 100%;
  padding: 5.3vw 6.7vw;
}
.main_shop .pd_wrap > div{
  width: 41.3vw;
  float: left;
  background: #fff;
  margin-right: 4vw;
  border: .2vw solid #f0f0f0;
  margin-bottom: 5.7vw;
}
.main_shop .pd_wrap > div:nth-child(even){
  margin-right: 0;
}
.main_shop .pd_wrap .pd_top{
  width: 100%;
  position: relative;
  padding-bottom: 2.4vw;
  border-bottom: .4vw dashed #f0f0f0;
}
.main_shop .pd_wrap .pd_top::after{
  content: "";
  position: absolute;
  bottom: -1.3vw;
  left: -1.3vw;
  width: 2.5vw;
  border-radius: 100px;
  background: #f5f5fa;
  height: 2.5vw;
}
.main_shop .pd_wrap .pd_top::before{
  content: "";
  position: absolute;
  bottom: -1.3vw;
  right: -1.3vw;
  width: 2.5vw;
  border-radius: 100px;
  background: #f5f5fa;
  height: 2.5vw;
}
.main_shop .pd_wrap .pd_top .pd_top_img{
  width: 100%;
  height: 24.3vw
}
.main_shop .pd_wrap .pd_top .pd_top_img img{
  width: 100%;
  height: 24.3vw
}
.main_shop .pd_wrap .pd_top .pd_top_intro{
  font-size: 3.2vw;
  padding: 1.6vw;
  font-size: 12px;
  color:#1a1a1a;
}
.main_shop .pd_wrap .pd_top .pd_top_jf{
  font-size: 2.7vw;
  font-size: 10px;
  padding:0 1.6vw;
  color: #fd2d2d;
}
.main_shop .pd_wrap .pd_bot{
  width: 100%;
  padding: 2.1vw 0;
  text-align: center;
}
.main_shop .pd_wrap .pd_bot a{
  display: inline-block;
  padding: 1.8vw 6vw;
  text-align: center;
  color: #fff;
  font-size: 2.9vw;
  font-size: 12px;
  border-radius: 200px;
  background: #2da3fd;
}
.main_shop .pd_uptips{
  font-size: 12px;
  color:#999;
  width: 80%;
  margin: 0 auto 4vw;
text-align: center;
}
.main_shop .share_btn{
  text-align: center;
  margin-bottom: 10vw;
}
.main_shop .share_btn a{
  display: inline-block;
  padding: 3.2vw 20.2vw;
  text-align: center;
  color: #fff;
  font-size: 2.9vw;
  border-radius: 200px;
  background: #ff5252;
  font-size: 18px;
}
/* 收货地址 */
.main_address .submit_btn{
  margin-top: 21.3vw;
  margin-bottom: 2.9vw;
  text-align: center;
}
.main_address .submit_btn a{
  display: inline-block;
  padding: 3.2vw 0;
  text-align: center;
  width: 95%;
  color: #fff;
  font-size: 2.9vw;
  font-size: 18px;
  border-radius: 200px;
  background: #ff5252;
}
.main_address{
  border-top: 2.7vw solid #f5f5fa;
  padding: 0 7.3vw;
}
.main_address .form_wrap{
  width: 100%;
}
.main_address .form_wrap form{
  width: 100%;
}
.main_address .form_wrap form > div{
  width: 100%;
}
.main_address .form_wrap form input{
  width: 100%;
  height: 8vw;
  line-height: 8vw;
  font-size: 3.7vw;
  font-size: 14px;
  border-bottom: .2vw solid #e5e5e5;
}
.main_address .form_wrap form .inp_txt{
  color: #333333;
  font-size: 4.5vw;
  /* font-size: 16px; */
  margin:5vw 0 4vw 0;
}
.main_address .wenx_tips{
  text-align: center;
}
.main_address .wenx_tips .txt{
  font-size: 3.2vw;
  color: #a6a6a6;
  padding-left: .4vw;
  vertical-align: middle;
  display: inline-block;
}
.main_address .wenx_tips img{
  display:inline-block;
  width: 2.7vw;
  vertical-align: middle;
}
/* 积分记录 */
.main_integral {
  width: 100%;
}
.main_integral .detail_list{
  width: 100%;
}
.main_integral .detail_list > div{
  width: 100%;
  padding: 4vw;
  background: #fff;
  border-bottom: .2vw solid #eeeff1;
}
.main_integral .detail_list div{
  display: inline-block;
  vertical-align: middle;
  color: #000000;
  font-size: 4.3vw;
}
.main_integral .detail_list .detail_list_time{
  display: block;
  font-size: 3.5vw;
  color: #6a6a6a;
  padding-top: 1vw;
}
.main_integral .detail_list .detail_list_name{
}
.detail_list .detail_list_img{
  width: 13.3vw;
  height: 13.3vw;
  background: #efefef;
  margin-right: 4vw;
}
.detail_list .detail_list_img img{
  width: 100%;
  height: 100%;
}
.main_integral .detail_list .detail_list_jfnum{
  float: right;
  padding-top: 1vw;
}
.main_integral .not_page{
  width: 100%;
  height: 100%;
  background: #fff;
  padding-top: 50%;
  position: absolute;
  z-index: 2;
  left: 0;
}
.main_integral .not_page img{
  margin: 0 auto;
  width: 21.9vw;
}
.main_integral .not_page .tips{
  color: #b7b7b7;
  text-align: center;
  padding-top: 6.7vw;
}
/* 适配小屏 */
@media screen and (max-width: 320px) {
  .posters .posters_con{
    width: 70vw;
  }
  .posters .posters_con .posters_cool{
    width: 70vw;
  }
}