/********手风琴菜单样式************/
.accordion {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50px;
    right: 0;
    width: 51%;
    display: none;
    z-index: 1;
 }
.accordion .link {
    cursor: pointer;
    display: block;
    color: #666;
    padding:10%;
    font-size: 16px;
    border-bottom: 1px solid #CCC;
     position: relative;
     -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;  
}
.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.accordion li.open .link {
    color: #ff6969;
}
/**
 * Submenu
 -----------------------------*/
.accordion .submenu {
    display: none;
    font-size: 14px;
 }
.accordion .submenu li {
    border-bottom: 1px solid #ccc;
 }
.accordion .submenu a {
    display: block;
    text-decoration: none;
    color: #666;
    font-size: 12px;
    padding: 10% 10% 10% 15%;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
 }
.accordion .submenu a:hover {
    background: #ff6969;
    color: #FFF;
 }
.xy_header{
    height:50px;
    width:100%;
}
.xy_header nav{
    width:90%;
    margin:0 auto;
}
.xy_header nav h1 a{
    display:block;
    width:106px;
    height:28px;
    margin-top: 12px;
    float:left;
    background: url(../_images/logo.png) no-repeat;
    background-size: cover;  
}
.xy_header nav .fr{
    padding-top:17px;
}
.xy_header nav .about_btn{
    float:left;
    font-size: 14px;
    color:#666;
    vertical-align:middle;  
}
.xy_header nav .menu_btn{
    width:19px;
    height:15px;
    float:left;
    background: url(../_images/menu_btn.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 10px;
    margin-top: 2px;
}
.xy_footer{
    width:100%;
    padding:8% 0;
}
.xy_footer p{
    text-align: center;
    font-size:13px;
}
@media screen and (min-width:330px){
    /********手风琴菜单样式************/
    .accordion {
        top: 56px;
    }
    .xy_header{
        height:57px;
    }
    .xy_header nav h1 a{
        width:119px;
        height:32px;
        margin-top: 14px;
    }
    .xy_header nav .fr{
        padding-top: 20px;
    }
    .xy_header nav .about_btn{
        font-size: 16px;
    }
    .xy_header nav .menu_btn{
        width:23px;
        height:16px;
        margin-top: 1px;
    }
}
@media screen and (min-width:380px){
    /********手风琴菜单样式************/
    .accordion {
        top: 63px;
    }
    .xy_header{
        height:63px;
    }
    .xy_header nav h1 a{
        width:136px;
        height:36px;
        margin-top:16px;
    }
    .xy_header nav .fr{
        padding-top: 22px;
    }
    .xy_header nav .about_btn{
        font-size: 16px;
    }
    .xy_header nav .menu_btn{
        width:21px;
        height:19px;
        margin-top: 2px;
        margin-left: 20px;  
    }
}