.xy_footer{
    background: #333230;
}
.xy_footer p{
    color:#fff;
    line-height: 18px;
}
/*标题*/
.title h2{
    padding:6% 0;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}
.title.red h2{
    color:#666;
}
.title.color_fch h2{
    color:#0a968c;
}
.title.color_zs h2{
    color:#da422f;
}
.title.color_jxs h2{
    color:#1a7491;
}
.title.color_shop h2{
    color:#8e603d;
}
.title.color_jb h2{
    color:#159ae2;
}
.txt_intro{
    width:90%;
    margin:0 auto;
    padding:12% 0;
}
.txt_intro p{
    font-size: 16px;
    color:#666;
    padding-bottom: 4%;
}
/*图片盒子*/
.img_box{
    width:100%;
    padding-bottom: 10%;
}
.img_box img{
    width:100%;
}
 @media screen and (min-width:320px) and (min-width:380px){
   .title h2{
       font-size: 18px;
   }
   .txt_intro p{
       font-size: 16px;
   }
} 
.jb_banner{
  position:relative;
}
.jb_banner > a{
  position:absolute;
  top: 58%;
  width: 25%;
  height: 28px;
  line-height: 28px;
  border-radius: 15px;
  font-size: 12px;
  background: #fffc00;
  color:#28bcfa;
  text-align: center;
}
.jb_banner > a.android_btn{
  left: 4%;
}
.jb_banner > a.iphone_btn{
  left: 33%;
}

.mask_bg{
  width:100%;
  height:100%;
  position:fixed;
  left:0;
  top:0;
  display: none;
  text-align: center;
  font-size: 18px;
  color:#fff;
  padding-top:50%;
  background: rgba(0, 0, 0, 0.8);
}
.mask_bg img{
  width:100%;
  position:absolute;
  right: 0;
  top:0;
}
.marg_none{margin:0;}
.padd_none{padding:0;}