body {
  width: 100%;
  height: 100%;

}
#menu{
    background:#082538;
}
#menu a{
    color:#fff;
    display:block;
    font-size:16px;
    height:44px;
    line-height:44px;
    padding-left:16%;
    border-bottom:1px solid #333;
}
#menu > a:nth-of-type(1){
    border-top:1px solid #333;
    margin-top:44px;
}
#menu a span{
    width:24px;
    margin-right:10%;
    display:inline-block;
}
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
